.colors_group {
    width: 90%;
    /* border: 2px solid red; */
    display: flex;
    margin-left: 23px;
    position: absolute;
    /* margin-top: 23px; */
    top: 140px;
}


.box_colors {
    width: 22px;
    height: 22px;
    /* border: 2px solid red; */
    border-radius: 50%;
    cursor: pointer;
    /* margin: 7px; */
    border: none;
    margin-bottom: 21px;
    position: relative;
}

.box_colors:hover {
    width: 22.5px;
    height: 22.5px;
    transition: 0.2s;
}

.box-1 {

    background-color: #d63384;
    margin-left: 0px;
}

.box-2 {
    background-color: #212529;
    margin-left: 8px;
}

.box-3 {
    background-color: #1a73e8;
    margin-left: 8px;
}

.box-4 {
    background-color: #4caf50;
    margin-left: 8px;
}

.box-5 {
    background-color: #fb8c00;
    margin-left: 8px;
}

.box-6 {
    background-color: #f44335;
    margin-left: 8px;
}