.link_div {
    width: 88%;
    height: 2.5rem;
    position: relative;
    margin: auto;
    border-radius: 4px;
    background-color: #1a73e8;
    cursor: pointer;
    box-shadow: #1a73e8;
    box-shadow: 1px  1px #1a73e8;
}

.link {
    position: absolute;
    display: flex;
  
    font-size: 11px;
    margin-left: 93px;
    margin-top: 11px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 1;

}


.link_div:hover{
    background-color: #1055ae;
    transition: 0.2s;
   
}