.sales-by-contry-main-div{
    background-color: rgb(246, 246, 246);
    border: 1px solid rgba(246,246,246);
    border-radius: 10px;
    width: 1200px;
    height: 450px;
   margin-top: 40px;
    
}
.internet-icon-container{
   
   
    padding: 15px;
    margin: -40px 0 0 0;
}
.internet-icon-container p{
    margin-top: 40px;
    margin-left: 20px;
}
.internet-icon{
    border-radius: 10px;
    height: 70px;
}
.Text-Container{
    margin-top: 40px;
    margin-left: 20px;

}
.Text-div{
    display: flex;
    margin-top:20px;
    
    height: 30px;
}
.Text-div p{
    width: 180px;
    margin-left: 10px;
}
.flag-img{
    height: 15px;
    margin-top: 30px;
    margin-left: 20px;
}
.hr-text{
    margin:50px 0 0 0;
}
/* .popup{
    position: fixed!important;
    right: -360px;
    top: 0;
    height: 100%;
    left: auto!important;
    transform: unset!important;
    width: 360px;
    border-radius: 0;
    padding: 0 10px;
    transition: .2s ease;
    z-index: 1020;
    border: 1px solid black;
} */